body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 0;
}
main{
    background-color: #e5e5e5;
    width: 100%;
    max-width: 1600px;
    min-width: 640px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #222;
}
header .logo, header.nav{
    display: inline-block;
}
header .logo, footer .logo{
    margin: 5px 20px;
    width: 20%;
}
header .logo>img, footer .logo>img{
    width: 100%;
}
header nav{
    float: right;
    margin: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav>ul li{
    display: inline-block;
    margin: 0 5px;
}
header a, header a:visited{
    color: white;
    text-decoration: none;
}
header a:hover{
    color: #01caca;
}
section.content{
    margin: 70px auto;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 95%;
}
section .promo, section .top5{
    background-color: white;
    width: 40%;
    height: 350px;
    margin: 0 5px;
    border-radius: 10px;
}
section .promo{
    background: url('../img/delivery.jpg') 50% 50% no-repeat;
    background-size: cover;
    color: red;
    padding: 20px;
}
section .promo h2{
    font-weight: bold;
    font-size: 1.8em;
    margin: 0;
}
section .promo span{
    color: white;
}
section .top5{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-weight: bold;
    font-size: 1.2em;
}
section .top5 h2{
    color: red;
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 50px;
}
section .top5 p{
    margin-left: 2em;
}
section .top5 .pizzas{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    justify-content: space-between;
}
section .top5 .pizzas .image{
    background: url('../img/falling.png') 50% 50% no-repeat;
    background-size: contain;
    width: 40%;
    height: 100px;
    padding: 25px;
}
footer{
    background-color: #222;
    display: flex;
    justify-content: space-between;
}
footer nav{
    float: right;
    margin: 15px 20px;
}
footer nav>ul li{
    display: block;
    margin: 15px 0;
    font-size: 1.2em;
}
footer a, footer a:visited{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: #01caca;
}
footer .logo{
    top:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3em;
}