footer{
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    border-top: 1px solid black;
    padding: 1em 0;
}
header{
    border-bottom: 1px solid black;
    margin:5px 0;
}
header ul{
    list-style-type: none;
    padding:0;
}
h1{
    font-size: 3em;
    margin: 3px 0;
}
h3{
    font-size: 18px;
    font-weight: 100;
}
ul.ingredientes{
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
}
ul.crema, ul.merengue{
    margin-left: 0;
}
.instrucciones{
    padding: 15px;
}
.instrucciones a{
    color: orangered;
}